*{
    margin: 0;
    padding: 0;
}
/*nav*/
nav{
    display: flex;
    height: 10vh;
    width: 100vw;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}
.img_nav{
    position: absolute;
    display: flex;
}
.text{
    position: relative;
    text-align: center;
    justify-content: space-between;
}
/*card*/
article{
    display: flex;

}
.container-card{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    border: 10px solid red;
    width: 500px;
    height: 450px;
    border-radius: 50px;
}
.haut-card{
    width: 100%;
}
.img{
    position: absolute
    
}